# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Environment variables
.env

# Distribution
dist/
build/
*.egg-info/m1_submission/
m1_submission/
m2_submission/
m3_submission/
m4_submission/
m5_submission/
m6_submission/
m7_submission/